/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename },
        enabled: params.publish_all_tools
    ]

    withName: 'WIPERTOOLS_FASTQSCATTER' {
        ext.args = '--os unix'
    }

    withName: 'WIPERTOOLS_FASTQWIPER' {
        ext.args = "--alphabet ${params.alphabet}"
    }

    withName: 'BBMAP_REPAIR' {
        ext.args = "qin=${params.qin}"
    }

    withName: 'COPYRESULTS' {
        publishDir = [
            path: { "${params.outdir}/${params.repaired_folder}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> !filename.equals('versions.yml') ? filename : null}
        ]
    }

    withName: 'COPYREPORTS' {
        publishDir = [
            path: { "${params.outdir}/${params.repaired_folder}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> !filename.equals('versions.yml') ? filename : null}
        ]
    }

    withName: 'FASTQC' {
        memory = 8.GB  // to be included during development and commented out before release
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/QC/fastqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/QC/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
